* {
    box-sizing: border-box
}

.container {
    width: 100%;
    max-width: 1140px;
    min-width: 600px;
    margin:0 auto;
    overflow: hidden;     
}
.clearfix::after,
.grid__row::after {
content:'';
clear: both;
display: table;
}

.grid__row {
    
}


.grid__column-3,
.grid__column-4,
.grid__column-6,
.grid__column-12 {
    display: block;
    float: left;
    padding: 20px;
    margin: 0;
}
.grid__column-3 {width: 25%}
.grid__column-4 {width: 33.33%}
.grid__column-6 {width: 50%}
.grid__column-12 {width: 100%}

