@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Arimo");

body {
color: #000;
font-family: "Arimo", sans-serif;
background-image: url("http://i66.tinypic.com/11v5v9j.jpg");
background-size: cover;
background-repeat: no-repeat;

}


h1 {
color: dodgerblue;
font-size: 100px;
text-align: center;
}

.logo {
float: left;
padding: 10px 0;
height: 100px;
width: 300px;


}

/* de volledige navigatie bar */
.navigation { 
list-style: none; /* bolletjes wegwerken */
padding: 3px 15px;
float: center;
background: linear-gradient(#0AB2FA, #0077ee);
margin-top: 50px;
opacity: 0.7; /* transparant maken */
filter:alpha (opacity=70); /* transparant maken */
border: 4px solid #000;
box-shadow: 10px 10px 10px #000;
cursor: pointer;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;


}

.navigation::after {
    content: '';
    clear: both;
    display: table;
}

/* elke link in de navigatie (vak) */
.navigation_item {
background: linear-gradient(#0AB2FA, #0077ee);
float: right;
margin-top: 0; 
margin-right: 0;
margin-left: 0;
margin-bottom: 0;
padding:  /* plaats tussen blokjes */  

}

/* de links in de navigatie */
.navigation_item a {
color: ghostwhite;
display: inline-block; /* ziet er zo beter uit, precies een blok */ 
text-decoration: none;
margin-left: 20px;
margin-right: 20px;
margin-top: 30px;
margin-bottom: 30px;
font-size: 30px;
position: relative;
}

/* als je over de knop heen gaat */ 
.navigation_item a:hover { 
    color: #000;
}

/* als je de knop indruk */
.navigation_item a:active {  
    color: slategray;
}


/* animatie als je over de link gaat */
.navigation_item a::before {
  content:'';
  display: block;
  height: 5px;
 
  background-color: #000;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 400ms;
  
}

.navigation_item a:hover::before {
width: 100%;

}

/* javascript tijd opmaken */
.time {
    margin-bottom: 50px;
    text-align: left;
    font-size: 100px;
    
}

